extends ../layouts/default

mixin item(item)
    .post.item.col-md-4: .well
        h2: a(href='/gallery/item/' + item.key)= item.name
        if item.content.brief
            p!= item.content.brief
        if item.publishedDate
            .pull-right.text-muted= item._.publishedDate.format('Do MMM YYYY')
        //- if gallery.tags && gallery.tags.length
        //-     each tag, tag_i in gallery.tags
        //-         a(href='/blog/' + tag.key)= tag.name
        p= item.slug
        .row.gallery-images
            if item.heroImage.exists
                .col-sm-4.col-md-4.gallery-image: img(src=item._.heroImage.limit(680,680)).gallery-hero

block intro
    .container
        h1 Gallery Intro Block
        
    
block content
    //- .container.debug
        div= data.tags
        
    .container: .isotope.row
        if data.galleries.length
            - i = 10
            - while(i--)
                each item in data.galleries
                    +item(item)
                
        else
            h3.text-muted There are no image galleries yet.
            
            
